@import '../../scss/mixins';

.tags {
  grid-column-start: 1;
  grid-column-end: 4;
}

.tag {
  @include fontStyle(14px, 20px, 500);
  color: #037bff;
  padding: 4px 16px;
  border: solid 1px #037bff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  background-color: white;
}

.tag:hover {
  transform: scale(1.1);
}

.tag:not(:last-child) {
  margin-right: 15px;
}

/*tags styles*/

.active {
  background-color: #037bff;
  color: white;
}

.enable {
  opacity: 50%;
  cursor: not-allowed;
}
